PORT=3002
NEXT_PUBLIC_API_URL=https://www.dealioo.io/api
NEXT_PUBLIC_FRONTEND_URL=https://www.dealioo.io
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
NEXT_PUBLIC_PUSHER_KEY=your_pusher_key
NEXT_PUBLIC_PUSHER_CLUSTER=ap2
NEXT_PUBLIC_DO_SPACES_CDN_URL=
NEXT_PUBLIC_RP_META_PIXEL_ID=
BACKEND_URL=https://www.dealioo.io/api
